
<footer class="px22" id="footer">
	<ul>
	
		<li><a  href="{:url('user/Index/index')}"><img src="/static/user/images/{$url=='user/Index/index'?'a01':'a02'}.png" width="34%" /><br/><span style=" color:{$url=='user/Index/index'?'#14d39f':'#9e9e9e'};">回收</span></a></li>


        <li><a  href="{:url('user/Feedback/index')}"><img src="/static/user/images/{$url=='user/Feedback/index'?'a04':'a03'}.png" width="34%"  /><br/><span style=" color:{$url=='user/Feedback/index'?'#14d39f':'#9e9e9e'};">反馈建议</span></a></li>

        <li><a  href="javascript:onclick(alert('正在升级中'))"><img src="/static/user/images/a05.png" width="34%" /><br/><span>积分商城</span></a></li>
        <li><a  href="{:url('user/Personal/center')}"><img src="/static/user/images/{$url== 'user/Personal/center'?'a08':'a07'}.png" width="34%" /><br/><span  style=" color:{$url=='user/Personal/center'?'#14d39f':'#9e9e9e'};">个人中心</span></a></li>
    </ul>
   
</footer>
