<!DOCTYPE html>
<html class="x-admin-sm">

{include file="common/header" /}
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="username" class="layui-form-label">
                    <span class="x-red">*</span>登录名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" value="{$adminInfo.name}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>将会成为您唯一的登入名
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                <div class="layui-input-block">
                    {volist name="role" id="sv"}
                        <input {in name="sv.id" value="$adminInfo.role_id" } checked{/in} role_id="{$sv.id}" type="checkbox"  lay-filter="role_type" lay-skin="primary" title="{$sv.title}">
                    {/volist}
                </div>
            </div>

            <div class="layui-form-item">
                <label for="type" class="layui-form-label">
                    <span class="x-red">*</span>账号类型</label>
                <div class="layui-input-inline">
                    <select id="type" name="type" class="valid" lay-filter="type">
                        <option {if condition="$adminInfo.type == 1"}selected{/if} value="1">总后台</option>
                        <option {if condition="$adminInfo.type == 2"}selected{/if} value="2">代理</option></select>
                </div>
            </div>


            <div class="layui-inline" id="merchant" {if condition="$adminInfo.type ==1"}style="display: none;"{/if}>
                <label class="layui-form-label">商家管理</label>
                <div class="layui-input-inline">
                    <select name="merchant_id" lay-verify="required" lay-search="">
                        {volist name="merchant" id="vol"}
                        <option {in name="vol.id" value="$adminInfo.merchant_id" }selected{/in} value="{$vol.id}">{$vol.merchant_name}</option>
                        {/volist}

                    </select>
                </div>
            </div>



            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="pass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
    <input type="hidden" name="id" value="{$adminInfo.id}">
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="add" lay-submit="">
                    增加
                </button>
            </div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            nikename: function(value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            repass: function(value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });

        //监听checkbox
        form.on('select(type)',function (data) {

            var value = data.value;
            if(value == 1){
                //隐藏
                $("#merchant").css('display','none');
            }else{
                //显示
                $("#merchant").css('display','block');
            }
        })
        //监听提交
        form.on('submit(add)',
            function(data) {
                var field = data.field;
                var checkbox = $(".layui-form-checked");
                var role_id = '';
                $.each(checkbox,function (k,v) {
                    role_id +=$(v).prev().attr('role_id') + ',';
                })
                role_id = role_id.slice(0,-1);
                field.role_id = role_id;

                $.ajax({
                    'url':"{:url('index/auth/admin_edit')}",
                    'type':'post',
                    'data':field,
                    'dataType':'json',
                    'success':function (response) {
                        layer.alert("修改成功", {
                                icon: 6
                            },
                            function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                    }
                });


                return false;
            });

    });</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>
