<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="textml; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection">
<meta charset="utf-8">
<title>选择地址</title>
<link href="/static/user/css/all.css" rel="stylesheet" type="text/css" />
<link href="/static/user/css/content.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:#fff; ">


<div class="wrap">

<!--暂无地址 start-->
<div class="zwdzh px22">
  <em><img src="/static/user/images/b1.png" width="100%;"/></em>
  <span>您暂未添加地址</span>
  <a href="{:url('address/user_address')}"><p><input type="button" value="+新建收货地址" /></p></a>
</div>
</div>
</body>
</html>
