<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="textml; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection">
<meta charset="utf-8">
<title>关于我们</title>
<link href="/static/user/css/all.css" rel="stylesheet" type="text/css" />
<link href="/static/user/css/content.css" rel="stylesheet" type="text/css" />
</head>

<body style="background-color:#f2f2f2; ">


<div class="wrap">

<!--关于我们顶部图 start-->

<div class="gywmdbt px22">
  <p><img src="/static/user/images/a2.jpg" width="100%;"/></p>
</div>


<!--关于我们介绍 start-->

<div class="gywmjs px22">

  <div class="jsxq">
     <p>家有废品不用愁，一键下单，上门回收，我们专注于再生资源回收事业，借助于互联网创新模式，让居民生活更方便，让资源回收分类更明确，助力环保行业发展，助力垃圾分类，共创绿水青山。</p>
  </div>
  
  
  <div class="gsxxlb">
     <p><span>工作时间</span><em>8：30-18：00</em></p>
     <p><span>企业名称</span><em>企业名称</em></p>
     <p style=" border:none;"><span>公司地址</span><em>山东省济南市</em></p>
  </div>


</div>
 
 
 
</div>
</body>
</html>
